/**
Theme Name: Skylayer Blueprint
Author: Daniel Slyman (Skylayer)
Author URI: https://skylayer.de
Description: DESCRIPTION HERE
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: skylayer-blueprint
Template: astra
*/



/** Mobile Menu Padding Fix */
.main-header-bar .main-header-bar-navigation.toggle-on {
    padding-top: 0px;
}



/** Elementor Prefered Width */
.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1220px;
}



/** Custom Scroll To Top */
#ast-scroll-top {
    background: #fff;
	border: 1px solid #ececec;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
	line-height: 1.95;
	position: fixed;
    text-align: center;
    cursor: pointer;
    z-index: 99;
    width: 2.1em;
    height: 2.1em;
	  font-size: 1.25rem;
    border-radius: 50px;
		color: #969696;
}

#ast-scroll-top:hover {
    background: #fff;
	border: 1px solid #ececec;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
	line-height: 1.95;
	margin-bottom: 5px;
}



/** Header Line & Shadow */
.ast-primary-sticky-header-active .main-header-bar {
     box-shadow: 0px 25px 30px -20px rgba(0,0,0,0.1);
	 border-bottom: 1px solid #ececec;
}



/** Submenu border-radius 
.ast-desktop .main-header-menu.submenu-with-border .sub-menu {
    border-radius: 4px;
}
*/



/** Submenu Distance */
.main-header-menu .sub-menu {
    top: 93%;
}



/** Fixed Header Shadow */
#ast-fixed-header .main-header-bar {
    box-shadow: 0px 25px 30px -20px rgba(0,0,0,0.1);
	border-bottom: 1px solid #ececec;
}



/** Pretty Links */
a:hover, a:focus {
    color: #b21526;
    transition-duration: 0.3s;
}
